<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
<body>
    <form id="login-form">
        <p>姓名: <input type="text" name="username" id="username"></p>
        <p>密码: <input type="text" name="password" id="password"></p>
        <p><input type="submit" value="提交"></p>
    </form>
    <script>
        $('#login-form').submit(function (e){
            e.preventDefault();
            var username = $('#username').val()
            var password = $('#password').val()
            $.ajax({
                url:'/user/login/',
                data:{'username': username, 'password': password},
                dataType:'json',
                type:'POST',
                success: function(data){
                    if(data.code == '200'){
                        location.href='/user/index/'
                    }
                },
                error: function(data){
                    alert('登录失败')
                },
            })
        });

    </script>
</body>
</html>