
{% extends 'base.html' %}

{% block content %}
    {% for art in arts %}
        <p>id: {{ art.id }}  标题:{{ art.title }}</p>
    {% endfor %}
<br>

<p>
    {% if arts.has_previous %}
        <a href="{% url 'user:articles' %}?page={{ arts.previous_page_number }}">上一页</a>
    {% endif %}

    {% for i in arts.paginator.page_range %}
        <a href="{% url 'user:articles' %}?page={{ i }}">{{ i }}</a>
    {% endfor %}

    {% if arts.has_next %}
        <a href="{% url 'user:articles' %}?page={{ arts.next_page_number }}">下一页</a>
    {% endif %}
</p>

{% endblock %}
