<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table>
    <thead>
        <th>ID</th>
        <th>姓名</th>
        <th>年龄</th>
        <th>操作</th>
    </thead>
    <tbody>
        {% for stu in stus %}
            <tr>
                <td>{{ stu.id }}</td>
                <td>{{ stu.s_name }}</td>
                <td>{{ stu.s_age }}</td>
                <td>
                    <a href="/app/del_stu/{{ stu.id }}/">删除</a>
                    |
                    <a href="/app/edit_stu/{{ stu.id }}/">编辑</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>

</table>


</body>
</html>